[submodule "lib/deps/slam"]
	path = lib/deps/slam
	url = https://github.com/vrld/slam
[submodule "lib/deps/spine"]
	path = lib/deps/spine
	url = https://github.com/bjornswenson/spine-runtimes
[submodule "lib/deps/lutil"]
	path = lib/deps/lutil
	url = https://github.com/bjornswenson/lutil
[submodule "lib/deps/tween"]
	path = lib/deps/tween
	url = https://github.com/kikito/tween.lua
[submodule "lib/deps/sha1"]
	path = lib/deps/sha1
	url = https://github.com/kikito/sha1.lua.git
[submodule "lib/deps/popo"]
	path = lib/deps/popo
	url = https://github.com/adonaac/popo
